<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>proj_one</title>
    <link rel="stylesheet" href="/stylesheets/ttt_enter_name.css">
</head>
<body>
<form class="" action="/ttt" method="post">
    <input type="text" name="name" value=<%= username %>>
    <br>
    <input type="submit" name="submit" value="Submit">
</form>
<br>
<div align="center">
    <a id="logout" href="#">logout</a>
    <form class="" action="/logout" id="hidden_log_out_form" method="post">

    </form>
</div>

</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/ttt_enter_name.js"></script>
</html>