body{
    background-color: #cc99ff;
}

input[type="text"] {
    width: 50%;
    height: 50px;
    margin-top: 10px;
    text-align: center;
}

input[type="submit"] {
    width: 10%;
    margin: 10px;
    height: 50px;
    text-align: center;
}

form {
    text-align: center;
}

h1{
    text-align: center;
}

a{
    text-align: center;
}